.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
        width: 31%;

        @include below($md-max) {
            width: 100%;
            margin: 0 auto 30px;
        }

        @include below($xs-max) {
            padding: 0 20px;
        }
    }

    &__image {
        position: relative;
        margin-bottom: 10px;
        transition: transform 0.5s;

        & img {
            width: 100%;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    &__date {
        position: absolute;
        font-size: 15px;
        font-style: italic;
        padding: 10px 20px;
        background-color: #95e1d3;
        bottom: 20px;
        left: -10px;
        color: white;

        &_day {
            font-size: 30px;
            line-height: 1;
            font-style: normal;

        }
    }


    &__title {
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: black;
        transition: transform 0.5s;


        &:hover {
            transform: scale(1.1);
        }
    }

    &__title a {
        color: inherit;
    }


    &__text {
        font-size: 15px;
        line-height: 24px;
        color: #999999;
    }


    &-footer {
        flex: 14px;
        font-style: italic;
        color: #999999;
        padding: 15px 0;
        border-top: 1px solid #e5e5e5;

        &__item {
            display: inline-block;
            margin-right: 10px;
        }

        &__item i {
            color: #95e1d3;
        }
    }
}