.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &__item {

        @include below($md-max) {
            width: 33%;
            text-align:center
        }
    }
}