.section {
    padding: 80px 0;

    @include below($md-max) {
        padding: 40px 0 0;
    }

    &__header {
        width: 100%;
        max-width: 970px;
        margin: 0 auto 50px;
        text-align: center;
    }

    &__suptitle {
        font-size: 24px;
        font-family: 'Kaushan Script', cursive;
        margin-bottom: 20px;
        color: black;

        @include below($xs-max) {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }

    &__title {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: #333;

        @include below($xs-max) {
            font-size: 19px;
        }

        &::after {
            content: "";
            display: block;
            width: 60px;
            height: 3px;
            background-color: #f38181;
            margin: 30px auto;

            @include below($xs-max) {
                margin: 20px auto;
            }
        }
    }

    &__text {
        font-size: 15px;
        line-height: 24px;
        color: #b3b3b3;
    }

    &_grey {
        background-color: #f8f8f8;
    }

    &_clients {
        background: url(../img/clients_bg.png) center center /cover;
    }

    &_map {
        padding: 55px 0;
        background: url(../img/Layer59.jpg)center center / cover no-repeat // background-color: #efefef;
    }
}
