.social {
    display: flex;
    justify-content: center;


    &__item {
        font-size: 30px;
        line-height: 30px;
        padding: 10px;
        background-color: #fce38a;
        border-right: 1px solid #f38181;
        color: #f38181;
        transition: background-color .2s linear, color .2s linear;

        &:last-child {
            border-right:0;
        }
        
        &:hover {
            color: white;
            background-color: #f38181;
        }
    }
}