{% extends "../layout/base.twig" %}

{% block content %}
  <section class="header">
    <div class="container">
      <div class="header__inner">
        <div class="header__logo">Mogo</div>
          <nav class="header__nav">
              <ul class="header__list">
                  <li class="header__item"><a class="header__link active" href="#">About</a></li>
                  <li class="header__item"><a class="header__link" href="#">service</a></li>
                  <li class="header__item"><a class="header__link" href="#">work</a></li>
                  <li class="header__item"><a class="header__link" href="#">blog</a></li>
                  <li class="header__item"><a class="header__link" href="#">contact</a></li>
                  <li class="header__item"><a class="header__link" href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                  <li class="header__item"><a class="header__link" href="#"><i class="fa-solid fa-magnifying-glass"></i></a></li>
              </ul>
              
          </nav>
          <a class="header__btn"><i class="fa-solid fa-bars"></i></a>
        </div>
      </div>
  </section>
  <section class="intro">
        <div class="container">
              <div class="intro__inner">
                <h2 class="intro__suptitle">Creative Template</h2>
                  <h1 class="intro__title">Welcome to MoGo</h1>
                <a class="intro-btn" href="#" >Learn More</a>
              </div>
        </div>
        <div class="intro-slider">
            <div class="container">
            <div class="intro-slider__inner">
                  <div class="intro-slider__item active">
                    <span class="bold">01</span>
                      <span class="intro-slider__text">intro</span>
                  </div>
                  <div class="intro-slider__item">
                    <span class="bold">02</span>
                      <span class="intro-slider__text">work</span>
                  </div>
                  <div class="intro-slider__item">
                    <span class="bold">03</span>
                      <span class="intro-slider__text">about</span>
                  </div>
                  <div class="intro-slider__item">
                    <span class="bold">04</span>
                      <span class="intro-slider__text">contacts</span>
                  </div>
                </div>
                </div>
            </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="section__header">
        <h3 class="section__suptitle">What we do</h3>
          <h2 class="section__title">Story about us</h2>
            <div class="section__text">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi tenetur, dignissimos id cupiditate non voluptatibus dolores laudantium officia accusamus aperiam numquam laborum soluta debitis corrupti tempora adipisci quae nesciunt assumenda?
              </p>
            </div>
      </div>
      <div class="card">
        <div class="card__item">
          <div class="card__inner">
              <div class="card__img">
                <img src="img/about/about1.jpg" alt="img">
              </div>
          <div class="card__text">super team</div>
        </div>

        </div>

        <div class="card__item">
        <div class="card__inner">
          <div class="card__img">
            <img src="img/about/about2.jpg" alt="img">
          </div>
          <div class="card__text">super team</div>
          </div>
        </div>

        <div class="card__item">
        <div class="card__inner">
          <div class="card__img">
            <img src="img/about/about3.jpg" alt="img">
          </div>
          <div class="card__text">super team</div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="statistic">
    <div class="container">
      <div class="stat">
        <div class="stat__item">
          <div class="stat__count">42</div>
          <div class="stat__text">Web Design Projects</div>
        </div>
        <div class="stat__item">
          <div class="stat__count">123</div>
          <div class="stat__text">happy client</div>
        </div>
        <div class="stat__item">
          <div class="stat__count">15</div>
          <div class="stat__text">happy client</div>
        </div>
        <div class="stat__item">
          <div class="stat__count">99</div>
          <div class="stat__text">cup of coffee</div>
        </div>
        <div class="stat__item">
          <div class="stat__count">24</div>
          <div class="stat__text">members</div>
        </div>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="container">
      <div class="section__header">
        <h3 class="section__suptitle">We work with</h3>
          <h2 class="section__title">Amazing Services</h2>
      </div>
      <div class="services">
          <div class="services__item">
              <img class="services__icon" src="img/services/Photography.png" alt="img">
              <div class="services__title">Photography</div>
              <div class="services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</div>
          </div>
          <div class="services__item">
              <img class="services__icon" src="img/services/Web Design.png" alt="img">
              <div class="services__title">Web Design</div>
              <div class="services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</div>
          </div>
          <div class="services__item">
              <img class="services__icon" src="img/services/Creativity.png" alt="img">
              <div class="services__title">Creativity</div>
              <div class="services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</div>
          </div>
          
      </div>
      <div class="services second">
          <div class="services__item">
              <img class="services__icon" src="img/services/seo.png" alt="img">
              <div class="services__title">seo</div>
              <div class="services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</div>
          </div>
          <div class="services__item">
              <img class="services__icon" src="img/services/CSS-HTML.png" alt="img">
              <div class="services__title">CSS/HTML</div>
              <div class="services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</div>
          </div>
          <div class="services__item">
              <img class="services__icon" src="img/services/Digital.png" alt="img">
              <div class="services__title">Digital</div>
              <div class="services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</div>
          </div>
          
      </div>
    </div>
  </section>
  <section class="section devices">
      <div class="container">
          <div class="section__header">
              <h3 class="section__suptitle">For all devices</h3>
              <h2 class="section__title">Unique design</h2>
          </div>
          <div class="devices-block">
              <img class="devices-block__item" src="img/ipad.png" alt="img">
              <img class="devices-block__item devices-block__item_iphone" src="img/iphone.png" alt="img">
          </div>
      </div>
  </section>
  <section class="section">
    <div class="container">
        <div class="section__header">
            <h3 class="section__suptitle">Service</h3>
            <h2 class="section__title">what we do</h2>
          <div class="section__text">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi tenetur, dignissimos id cupiditate non voluptatibus dolores laudantium officia accusamus aperiam numquam laborum soluta debitis corrupti tempora adipisci quae nesciunt assumenda?
              </p>
          </div>
        </div>
      <div class="ourWork">
        <div class="ourWork__image">
            <img  src="img/boy.jpg" alt="#">
        </div>
        <div class="ourWork-accordion"> {# bootstrap 5 #}
    
            <div class="ourWork-accordion__item " id="accordionExample">
              <div class="ourWork-accordion__header" id="headingOne">
                  <img class="ourWork-accordion__icon" src="img/PICTUREicon.png" alt="#" >
                      <a class="ourWork-accordion__link"  data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Photography
                      </a>
              </div>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="ourWork-accordion__content">
                  This is the first item's accordion body.It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="ourWork-accordion__item">
              <div class="ourWork-accordion__header " id="headingTwo">
              <img class="ourWork-accordion__icon" src="img/icon44.png" alt="#" >
                <a class="ourWork-accordion__link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  creativity
                </a>
              </div>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="ourWork-accordion__content">
                  This is the second item's accordion body It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="ourWork-accordion__item">
              <div class="ourWork-accordion__header" id="headingThree">
              <img class="ourWork-accordion__icon" src="img/icon33.png" alt="#" >
                <a class="ourWork-accordion__link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  web design
                </a>
              </div>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="ourWork-accordion__content">
                  This is the third item's accordion body.It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>





            {# <div class="accordion">
                <div class="accordion__item active">
                  <div class="accordion__header">
                      <img class="accordion__icon" src="img/PICTUREicon.png" alt="#" >
                      <div class="accordion__title">Photography</div>
                  </div>
                  <div class="accordion__content">
                  <p>Lopsum dolor sit amet consectetur, adipisicing elit. Magnam distinctio atque necessitatibus illum aperiam, earum quaerat nulla odio, ipsam ea totam qui, ipsum est reiciendis neque perspiciatis temporibus rem quis.
                    Lopsum dolor sit amet consectetur, adipisicing elit. Magnam distinctio atque necessitatibus illum aperiam, earum quaerat nulla odio, ipsam ea totam qui,
                  </p>
                </div>
                </div>
                <div class="accordion__item">
                  <div class="accordion__header">
                      <img class="accordion__icon" src="img/icon33.png" alt="#" >
                      <div class="accordion__title">creativity</div>
                  </div>
                  <div class="accordion__content">
                  <p>Lopsum dolor sit amet consectetur, adipisicing elit. Magnam distinctio atque necessitatibus illum aperiam, earum quaerat nulla odio, ipsam ea totam qui, ipsum est reiciendis neque perspiciatis temporibus rem quis.
                    Lopsum dolor sit amet consectetur, adipisicing elit. Magnam distinctio atque necessitatibus illum aperiam, earum quaerat nulla odio, ipsam ea totam qui,
                  </p>
                </div>
                </div>
                <div class="accordion__item">
                  <div class="accordion__header">
                      <img class="accordion__icon" src="img/icon44.png" alt="#" >
                      <div class="accordion__title">web design</div>
                  </div>
                  <div class="accordion__content">
                  <p>Lopsum dolor sit amet consectetur, adipisicing elit. Magnam distinctio atque necessitatibus illum aperiam, earum quaerat nulla odio, ipsam ea totam qui, ipsum est reiciendis neque perspiciatis temporibus rem quis.
                    Lopsum dolor sit amet consectetur, adipisicing elit. Magnam distinctio atque necessitatibus illum aperiam, earum quaerat nulla odio, ipsam ea totam qui,
                  </p>
                </div>
                </div>
            </div> #}
        </div>
      </div>
    </div>
  </section>
  <div class="section section_grey">
      <div class="container">

<div class="swiper mySwiper reviews ">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-bg">
            <div class="reviews__image">
                    <img class="reviews__photo" src="img/works/mogo14.png" alt="img">
                </div>
                <div class="reviews__text">
                    <p class="reviews__message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, nulla magnam enim vel exercitationem, fugit debitis deserunt incidunt sapiente culpa inventore assumenda.</p>
                    <p class="reviews__author">Joshua Earle</p>
                </div>
        </div>
        <div class="swiper-slide swiper-bg">
            <div class="reviews__image">
                    <img class="reviews__photo" src="img/works/mogo14.png" alt="img">
                </div>
                <div class="reviews__text">
                    <p class="reviews__message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, nulla magnam enim vel exercitationem, fugit debitis deserunt incidunt sapiente culpa inventore assumenda.</p>
                    <p class="reviews__author">Joshua Earle</p>
                </div>
        </div>
        <div class="swiper-slide swiper-bg">
            <div class="reviews__image">
                    <img class="reviews__photo" src="img/works/mogo14.png" alt="img">
                </div>
                <div class="reviews__text">
                    <p class="reviews__message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, nulla magnam enim vel exercitationem, fugit debitis deserunt incidunt sapiente culpa inventore assumenda.</p>
                    <p class="reviews__author">Joshua Earle</p>
                </div>
        </div>
        
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>







          {# <div class="reviews">
          <a class="reviews__btn reviews__btn_prev" href="#">Prev</a>
          <a class="reviews__btn reviews__btn_next" href="#">Next</a>
              <div class="reviews__item">
                <div class="reviews__image">
                    <img class="reviews__photo" src="img/works/mogo14.png" alt="img">
                </div>
                <div class="reviews__text">
                    <p class="reviews__message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, nulla magnam enim vel exercitationem, fugit debitis deserunt incidunt sapiente culpa inventore assumenda.</p>
                    <p class="reviews__author">Jon Doe</p>
                </div>
                  
              </div>
          </div> #}
      </div>
  </div>
  <section class="section">
      <div class="container">
          <div class="section__header">
            <h3 class="section__suptitle">Who we are</h3>
            <h2 class="section__title">Meet our team</h2>
          <div class="section__text">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi tenetur, dignissimos id cupiditate non voluptatibus dolores laudantium officia accusamus aperiam numquam laborum soluta debitis corrupti tempora adipisci quae nesciunt assumenda?
              </p>
          </div>
      </div>
      <div class="card">
        <div class="card__item">
        <div class="card__inner">
          <div class="card__img">
            <img src="img/team/1.png" alt="img">
          </div>
          <div class="card__text">
            <div class="social">
              <a class="social__item href="#" target="_blank" ">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
              <a class="social__item href="#" target="_blank" ">
                <i class="fa-brands fa-twitter"></i>
              </a>
              <a class="social__item href="#" target="_blank" ">
                <i class="fa-brands fa-pinterest-p"></i>
              </a>
              <a class="social__item href="#" target="_blank" ">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </div>
              
          </div>
          </div>
          <div class="card__info">
              <div class="card__name">Matthew Dix</div>
              <div class="card__prof">Graphic Design</div>
          </div>
        </div>

        <div class="card__item">
            <div class="card__inner">
                <div class="card__img">
                  <img src="img/team/2.png" alt="img">
                </div>
              <div class="card__text">
                <div class="social">
                  <a class="social__item href="#" target="_blank" ">
                    <i class="fa-brands fa-facebook-f"></i>
                  </a>
                  <a class="social__item href="#" target="_blank" ">
                    <i class="fa-brands fa-twitter"></i>
                  </a>
                  <a class="social__item href="#" target="_blank" ">
                    <i class="fa-brands fa-pinterest-p"></i>
                  </a>
                  <a class="social__item href="#" target="_blank" ">
                    <i class="fa-brands fa-instagram"></i>
                  </a>
                </div>
              </div>
          </div>
            <div class="card__info">
              <div class="card__name">Christopher Campbell</div>
              <div class="card__prof">Branding/UX design</div>
          </div>
        </div>

        <div class="card__item">
          <div class="card__inner">
              <div class="card__img">
                <img src="img/team/3.png" alt="img">
              </div>
            <div class="card__text">
              <div class="social">
                <a class="social__item href="#" target="_blank" ">
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a class="social__item href="#" target="_blank" ">
                  <i class="fa-brands fa-twitter"></i>
                </a>
                <a class="social__item href="#" target="_blank" ">
                  <i class="fa-brands fa-pinterest-p"></i>
                </a>
                <a class="social__item href="#" target="_blank" ">
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </div>
            </div>
        </div>
        <div class="card__info">
              <div class="card__name">Michael Fertig </div>
              <div class="card__prof">Developer</div>
          </div>
        </div>
      </div>
    </div>
      </div>
  </section>
  <section class="section section_grey">
    <div class="container">

        <div class="logos">
            <div class="logos__item">
                <img src="img/logos/1.png" alt="img">
            </div>
            <div class="logos__item">
                <img src="img/logos/2.png" alt="img">
            </div>
            <div class="logos__item">
                <img src="img/logos/3.png" alt="img">
            </div>
            <div class="logos__item">
                <img src="img/logos/4.png" alt="img">
            </div>
            <div class="logos__item">
                <img src="img/logos/5.png" alt="img">
            </div>
            <div class="logos__item">
                <img src="img/logos/6.png" alt="img">
            </div>
        </div>
    </div>
  </section>
  <section class="section">
        <div class="container">
              <div class="section__header">
                  <h3 class="section__suptitle">What we do </h3>
                    <h2 class="section__title">some of our work</h2>
                      <div class="section__text">
                          <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi tenetur, dignissimos id cupiditate non voluptatibus dolores laudantium officia accusamus aperiam numquam laborum soluta debitis corrupti tempora adipisci quae nesciunt assumenda?
                          </p>
                      </div>
              </div>
        </div>
        <div class="works">
                  <div class="works__col">
                      <div class="works__item">
                          <img class="works__image" src="img/works/1.png" alt="img">
                          <div class="works__info">
                            <img class="works__icon" src="img/PICTUREicon.png" alt="img">
                                <div class="works__title">creatively designed</div>
                                <div class="works__text">Lorem ipsum dolor sit</div>
                          </div>
                      </div>
                      <div class="works__item">
                          <img class="works__image" src="img/works/2.png" alt="img">
                          <div class="works__info">
                            <img class="works__icon" src="img/PICTUREicon.png" alt="img">
                                <div class="works__title">creatively designed</div>
                                <div class="works__text">Lorem ipsum dolor sit</div>
                          </div>
                      </div>
                  </div>
                  <div class="works__col">
                      <div class="works__item">
                          <img class="works__image" src="img/works/3.png" alt="img">
                          <div class="works__info">
                            <img class="works__icon" src="img/PICTUREicon.png" alt="img">
                                <div class="works__title">creatively designed</div>
                                <div class="works__text">Lorem ipsum dolor sit</div>
                          </div>
                      </div>
                      <div class="works__item">
                          <img class="works__image" src="img/works/4.png" alt="img">
                          <div class="works__info">
                            <img class="works__icon" src="img/PICTUREicon.png" alt="img">
                                <div class="works__title">creatively designed</div>
                                <div class="works__text">Lorem ipsum dolor sit</div>
                          </div>
                      </div>
                  </div>
                  <div class="works__col">
                      <div class="works__item">
                          <img class="works__image" src="img/works/5.png" alt="img">
                          <div class="works__info">
                            <img class="works__icon" src="img/PICTUREicon.png" alt="img">
                                <div class="works__title">creatively designed</div>
                                <div class="works__text">Lorem ipsum dolor sit</div>
                          </div>
                      </div>
                  </div>
                  <div class="works__col">
                    <div class="works__item">
                          <img class="works__image" src="img/works/6.png" alt="img">
                          <div class="works__info">
                            <img class="works__icon" src="img/PICTUREicon.png" alt="img">
                                <div class="works__title">creatively designed</div>
                                <div class="works__text">Lorem ipsum dolor sit</div>
                          </div>
                      </div>
                      <div class="works__item">
                          <img class="works__image" src="img/works/7.png" alt="img">
                          <div class="works__info">
                            <img class="works__icon" src="img/PICTUREicon.png" alt="img">
                                <div class="works__title">creatively designed</div>
                                <div class="works__text">Lorem ipsum dolor sit</div>
                          </div>
                      </div>
                  </div>
                  
              </div>
  </section>
  <div class="section">
      <div class="container">
          {# <div class="reviews">
          <a class="reviews__btn reviews__btn_prev" href="#">Prev</a>
          <a class="reviews__btn reviews__btn_next" href="#">Next</a>
              <div class="reviews__item">
                <div class="reviews__image">
                    <img class="reviews__photo" src="img/works/mogo14.png" alt="img">
                </div>
                <div class="reviews__text">
                    <p class="reviews__message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, nulla magnam enim vel exercitationem, fugit debitis deserunt incidunt sapiente culpa inventore assumenda.</p>
                    <p class="reviews__author">Joshua Earle</p>
                </div>
                  
              </div>
          </div>
      </div>
  </div> #}

<div class="swiper mySwiper reviews">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="reviews__image">
                    <img class="reviews__photo" src="img/works/mogo14.png" alt="img">
                </div>
                <div class="reviews__text">
                    <p class="reviews__message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, nulla magnam enim vel exercitationem, fugit debitis deserunt incidunt sapiente culpa inventore assumenda.</p>
                    <p class="reviews__author">Joshua Earle</p>
                </div>
        </div>
        <div class="swiper-slide">
            <div class="reviews__image">
                    <img class="reviews__photo" src="img/works/mogo14.png" alt="img">
                </div>
                <div class="reviews__text">
                    <p class="reviews__message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, nulla magnam enim vel exercitationem, fugit debitis deserunt incidunt sapiente culpa inventore assumenda.</p>
                    <p class="reviews__author">Joshua Earle</p>
                </div>
        </div>
        <div class="swiper-slide">
            <div class="reviews__image">
                    <img class="reviews__photo" src="img/works/mogo14.png" alt="img">
                </div>
                <div class="reviews__text">
                    <p class="reviews__message">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, nulla magnam enim vel exercitationem, fugit debitis deserunt incidunt sapiente culpa inventore assumenda.</p>
                    <p class="reviews__author">Joshua Earle</p>
                </div>
        </div>
        
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>









</div>
</div>
  <section class="section section_clients">
        <div class="container">
            <div class="section__header">
                  <h3 class="section__suptitle">Happy Clients</h3>
                    <h2 class="section__title">What people say</h2>
                      
              </div>
              <div class="clients">
                  <div class="clients__item">
                        <div class="clients__image">
                            <img src="img/clients/1.png" alt="">
                        </div>
                        <div class="clients__data">
                            <p class="clients__name">Matthew Dix</p>
                            <p class="clients__prof">Graphic Design</p>
                            <p class="clients__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                        </div>
                  </div>
                  <div class="clients__item">
                        <div class="clients__image">
                            <img src="img/clients/2.png" alt="">
                        </div>
                        <div class="clients__data">
                            <p class="clients__name">Nick Karvounis</p>
                            <p class="clients__prof">Graphic Design</p>
                            <p class="clients__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                        </div>
                  </div>
                  <div class="clients__item">
                        <div class="clients__image">
                            <img src="img/clients/3.png" alt="">
                        </div>
                        <div class="clients__data">
                            <p class="clients__name">Jaelynn Castillo </p>
                            <p class="clients__prof">Graphic Design</p>
                            <p class="clients__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                        </div>
                  </div>
                  <div class="clients__item">
                        <div class="clients__image">
                            <img src="img/clients/4.png" alt="">
                        </div>
                        <div class="clients__data">
                            <p class="clients__name">Mike Petrucci</p>
                            <p class="clients__prof">Graphic Design</p>
                            <p class="clients__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
                        </div>
                  </div>
              </div>
        </div>
  </section>
  <section class="section">
      <div class="container">
          <div class="section__header">
                  <h3 class="section__suptitle">Our stories</h3>
                    <h2 class="section__title">Latest blog</h2>
          </div>
          <div class="blog">
                <div class="blog__item">
                    <div class="blog__image">
                        <a href="#">
                          <img src="img//blog/blog1.png" alt="img">
                        </a>
                    
                    <div class="blog__date">
                        <div class="blog__date_day">15</div>
                        Jan
                    </div>
                    </div>
                    <div class="blog__content">
                        <p class="blog__title"><a href="#">Lorem ipsum dolor sit amet</a></p>
                        <p class="blog__text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt u Consectetur adipiscing elit, sed do eiusmod tempor incididunt u</p>
                    </div>
                    <div class="blog-footer">
                        <div class="blog-footer__item">
                            <i class="fa-solid fa-eye"></i>
                            542
                        </div>
                        <div class="blog-footer__item">
                            <i class="fa-solid fa-comment-dots"></i>
                            17</div>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__image">
                        <a href="#">
                          <img src="img//blog/blog2.png" alt="img">
                        </a>
                    
                    <div class="blog__date">
                        <div class="blog__date_day">14</div>
                        Jan
                    </div>
                    </div>
                    <div class="blog__content">
                        <p class="blog__title"><a href="#">sed do eiusmod tempor</a></p>
                        <p class="blog__text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt u Consectetur adipiscing elit, sed do eiusmod tempor incididunt u</p>
                    </div>
                    <div class="blog-footer">
                        <div class="blog-footer__item">
                            <i class="fa-solid fa-eye"></i>
                            992
                        </div>
                        <div class="blog-footer__item">
                            <i class="fa-solid fa-comment-dots"></i>
                            42</div>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__image">
                        <a href="#">
                          <img src="img//blog/blog3.png" alt="img">
                        </a>
                    
                    <div class="blog__date">
                        <div class="blog__date_day">12</div>
                        Jan
                    </div>
                    </div>
                    <div class="blog__content">
                        <p class="blog__title"><a href="#">incididunt ut labore et dolore</a></p>
                        <p class="blog__text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt u Consectetur adipiscing elit, sed do eiusmod tempor incididunt u</p>
                    </div>
                    <div class="blog-footer">
                        <div class="blog-footer__item">
                            <i class="fa-solid fa-eye"></i>
                            1560
                        </div>
                        <div class="blog-footer__item">
                            <i class="fa-solid fa-comment-dots"></i>
                            98</div>
                    </div>
                </div>
          </div>

      </div>
  </section>
  <section class="section section_map">
      <div class="container">
          <div class="map">
                    <h2 class="map__title">
                      <div class="map__icon">
                          <i class="fa-solid fa-location-dot"></i>
                      </div>
                        <a class="map__link" href="https://goo.gl/maps/UqwPCk9XzTw1SVv59" target="blank">open map</a>
                    </h2>
          </div>
      </div>
  </section>
  <footer class="footer">
      <div class="container">
          <div class="footer__inner">
              <div class="footer__col footer__col_first">
                  <div class="footer__logo">MoGo</div>
              
              <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
              <p class="footer__subtext"><span class="footer__number">15K</span> followers</p>
            <div class="footer__social">
                <p class="footer__social_text">Follow Us:</p>
                <a class="footer__social_icon" href="#" target="blank">
                      <i class="fa-brands fa-facebook-f"></i>
                </a>
                <a class="footer__social_icon" href="#" target="blank">
                      <i class="fa-brands fa-twitter"></i>
                </a>
                <a class="footer__social_icon" href="#" target="blank">
                      <i class="fa-brands fa-instagram"></i>
                </a>
                <a class="footer__social_icon" href="#" target="blank">
                      <i class="fa-brands fa-pinterest-p"></i>
                </a>
                <a class="footer__social_icon" href="#" target="blank">
                      <i class="fa-brands fa-google-plus-g"></i>
                </a>
                <a class="footer__social_icon" href="#" target="blank">
                      <i class="fa-brands fa-youtube"></i>
                </a>
                <a class="footer__social_icon" href="#" target="blank">
                      <i class="fa-solid fa-basketball"></i>
                </a>
                <a class="footer__social_icon" href="#" target="blank">
                      <i class="fa-brands fa-tumblr"></i>
                </a>
            </div>
            <form class="footer-subscribe" action="/" method="post">
                <input class="footer-subscribe__input" type="email" name="name" placeholder="Your Email...">
                <button class="footer-subscribe__btn" type="submit">Subscribe</button>
            </form>                      
            </div> 
            <div class="footer__col footer__col_second">
                <div class="footer__title">Blogs</div>
                <div class="footer-blogs">
                    <div class="footer-blogs__image">
                        <img src="img/blogs/1.png" alt="#">
                    </div>
                    <div class="footer-blogs__items">
                      <p class="footer-blogs__text"><a href="#">Lorem ipsum dolor sit amet,  consectetur adipiscing</a></p>
                      <p class="footer-blogs__date">Jan 9, 2016</p>
                    </div>
                </div>
                <div class="footer-blogs">
                    <div class="footer-blogs__image">
                        <img src="img/blogs/2.png" alt="#">
                    </div>
                    <div class="footer-blogs__items">
                      <p class="footer-blogs__text"><a href="#">Lorem ipsum dolor sit amet,  consectetur adipiscing</a></p>
                      <p class="footer-blogs__date">Jan 9, 2016</p>
                    </div>
                </div>
                <div class="footer-blogs">
                    <div class="footer-blogs__image">
                        <img src="img/blogs/3.png" alt="#">
                    </div>
                    <div class="footer-blogs__items">
                      <p class="footer-blogs__text"><a href="#">Lorem ipsum dolor sit amet,  consectetur adipiscing</a></p>
                      <p class="footer-blogs__date">Jan 9, 2016</p>
                    </div>
                </div>
            </div>
            <div class="footer__col footer__col_third">
                <div class="footer__title">Instagram</div>
                <div class="footer-blogs__insta">
                    <a class="footer-blogs__link" href="#" target="blank">
                          <img src="img/instagram/1.png" alt="#">
                    </a>
                    <a class="footer-blogs__link" href="#" target="blank">
                          <img src="img/instagram/2.png" alt="#">
                    </a>
                    <a class="footer-blogs__link" href="#" target="blank">
                          <img src="img/instagram/3.png" alt="#">
                    </a>
                    <a class="footer-blogs__link" href="#" target="blank">
                          <img src="img/instagram/4.png" alt="#">
                    </a>
                    <a class="footer-blogs__link" href="#" target="blank">
                          <img src="img/instagram/5.png" alt="#">
                    </a>
                    <a class="footer-blogs__link" href="#" target="blank">
                          <img src="img/instagram/6.png" alt="#">
                    </a>
                    <a class="footer-blogs__link" href="#" target="blank">
                          <img src="img/instagram/7.png" alt="#">
                    </a>
                    <a class="footer-blogs__link" href="#" target="blank">
                          <img src="img/instagram/8.png" alt="#">
                    </a>
                    <a class="footer-blogs__link" href="#" target="blank">
                          <img src="img/instagram/9.png" alt="#">
                    </a>
                          
                    {# <p class="footer-blogs__subtext"><a href="#" target="blank">View more photos</a></p> #}
                </div>
            </div>
          </div>
          <div class="footer-copyright">
              © 2016 MoGo free PSD template by <a href="#" target="blank">Laaqiq</a> 
          </div>
      </div>

  </footer>
{% endblock %}